.button1 {
    /* 화면 정가운데 정렬 */
    display: block;
    margin: 10px;
    /* 버튼 크기 */
    width: 300px;
    height: 100px;
    /* 버튼 색상 */
    background-color: #4CAF50;
    /* 글자 색상 */
    color: white;
    /* 글자 크기 */
    font-size: 50px;
    /* 버튼 모양 */
    border: none;
    /* 버튼 모서리 둥글게 */
    border-radius: 12px;
}

.button-container {
    display: flex; /* Flexbox 사용 선언 */
    justify-content: space-between; /* 첫 번째 요소를 시작점에, 마지막 요소를 끝점에 배치 */
}

.button2 {
    /* 버튼 크기 */
    width: 200px;
    height: 50px;
    /* 버튼 색상 */
    background-color: #f44336;
    /* 글자 색상 */
    color: white;
    /* 글자 크기 */
    font-size: 30px;
    /* 버튼 모양 */
    border: none;
    /* 버튼 모서리 둥글게 */
    border-radius: 12px;
}

.button3 {
    /* 버튼 크기 */
    width: 200px;
    height: 50px;
    /* 버튼 색상 */
    background-color: #008CBA;
    /* 글자 색상 */
    color: white;
    /* 글자 크기 */
    font-size: 30px;
    /* 버튼 모양 */
    border: none;
    /* 버튼 모서리 둥글게 */
    border-radius: 12px;
}

.active {
    background-color: #4CAF50;
}

.category-container {
    display: flex;
    justify-content: center;
    margin: 10px;
    /* 아이템간 간격 */
    gap: 25px;
}

.button4 {
    /* 버튼 크기 */
    width: 200px;
    height: 40px;
    /* 버튼 색상 */
    background-color: yellow;
    /* 글자 색상 */
    color: black;
    /* 글자 크기 */
    font-size: 20px;
    /* 버튼 모양 */
    border: none;
    /* 버튼 모서리 둥글게 */
    border-radius: 12px;
}

.statistics {
    background-color: pink;
    margin: 10px;
    padding: 10px;
}

.statistics table {
    margin: 0 auto;
}

.container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.inputbox {
    width: 300px;
    height: 50px;
    font-size: 20px;
    margin: 10px;
    padding: 10px;
    border: 1px solid #000;
    border-radius: 12px;
}

table {
    width: 800px;
    border-collapse: collapse;
    margin: 10px;
    border: 1px solid #000;
    background-color: #f1f1f1;
    text-align: center;
    font-size: 20px;
}

.order-container {
    /* 화면 정가운데 정렬 */
    display: flex;
    justify-content: center;
    /* 자식요소 세로로 정렬 */
    flex-direction: column;
    margin: 10px;
}

input {
    width: 200px;
    height: 40px;
    font-size: 20px;
    margin: 10px;
    padding: 10px;
    border: 1px solid #000;
    border-radius: 12px;
    text-align: center;
}

.search-container {
    display: flex;
    justify-content: center;
    margin: 10px;
}

#div1 {
    width: 20px;
    padding: 10px;
    text-align: center;
    font-size: 30px;
}

#searchButton {
    width: 100px;
    height: 60px;
    font-size: 20px;
    margin: 10px;
    padding: 10px;
    border-radius: 12px;
    text-align: center;
    background-color: #f44336;
    color: white;
}
